<!--The whole content below can be removed with the new code.-->
<div>
  <h1>Mes contributions</h1>
	<h2>2017</h2>
	<ul>
		<li>juin : inscription sur <a href="https://www.munzee.com/m/BSLLM/">Munzee.com</a> : Munzee est un jeu GPS sur la découverte de QRCode</li>
		<li>juin : création d'une raspberry pi 3 <a href="https://github.com/boly38/raspberrypi3_cheatsheet/blob/master/README.md">cheat sheet</a> - github
		<li>mars : développement de 'gkwidget' avec l'aide de <a href="https://github.com/kumy">Kumy</a> (<a href="http://geokrety.org">GeoKret</a> Widget) - <a href="https://bitbucket.org/">dépôt privé</a> - widget non publié
	</ul>
	<h2>2016</h2>
	<ul>
		<li>octobre : création d'un <a href="https://fr.wikibooks.org/wiki/G%C3%A9ocaching">wikilivre sur le géocaching</a></li>
		<li>août : inscription au <a href="https://www.geocaching.com">GéoCaching</a> : une sacrée découverte !</li>
		<li>mai : <a href="http://rogerdemenage.ddns.net/">Roger déménage</a> - un jeu conçu par Lény et réalisé par papa et Lény !</li>
	</ul>
	<h2>2008</h2>
	<ul>
		<li>octobre : création d'un wikilivre sur <a href="https://fr.wikibooks.org/wiki/Acheter_un_bien_immobilier">l'achat d'un bien immobilier</a></li>
	</ul>
</div>
